[MongoDB]
host:localhost
port:27017
database_name:covid_19_new

[Selenium]
driver_path:./driver
num_process:1

[Twitter]
user_name:
password:
keys_file:./resources/twitter_keys.txt

[Logging]
log_dir:./logs/

[StanfordCoreNLP]
core_nlp_jars_path:./resources/stanford-corenlp-full-2018-01-31
port:9104

[SecondOrderEngagements]
should_fetch_all_tweets:False
fetch_tweet_day_interval:30
append:True


[Sentiment]
sentiwordnet_path:./resources/SentiWordNet.txt